{
    "api_url": "",
    "sensor_uuid": "",
    "app_dir": "/home/mhn/.mhn/",
    "alert_file": "/var/log/snort/alert",
    "dionaea_db": "/var/dionaea/logsql.sqlite",
    "snort_rules": "/usr/local/snort/mhn-rules/mhn.rules",
    "download_time": "00:00"
}
