{
    "api_url": "",
    "sensor_uuid": "",
    "alert_file": "/var/log/snort/alert",
    "log_file": "mhnclient.log",
    "dionaea_db": "/var/dionaea/logsql.sqlite",
    "snort_rules": "/usr/local/snort/mhn-rules/mhn.rules",
    "download_time": "00:00"
}
