argparse==1.2.1
Flask==0.12.4
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.8.1
Flask-SQLAlchemy==2.3.1
Flask-Security==1.7.5
Flask-Testing==0.4.2
Flask-WTF==0.14.2
bcrypt==3.1.4
python-dateutil==2.2
celery==3.1.16
redis==2.10.3
requests==2.21.0
xmltodict==0.9.0
uWSGI==2.0.17.1
pymongo==3.7.2
hpfeeds-threatstream==1.1
pygal==2.4.0
-e git://github.com/threatstream/hpfeeds-logger#egg=hpfeeds-logger
geoip2==2.9.0
pysqlite>=2.8.0
