Werkzeug==0.16.1
argparse==1.2.1
Flask==0.12.4
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.8.1
Flask-SQLAlchemy==2.3.2
Flask-Security==1.7.5
Flask-Testing==0.7.1
Flask-WTF==0.14.2
bcrypt==3.1.4
python-dateutil==2.2
celery==4.3.0
redis==3.2.1
requests==2.21.0
xmltodict==0.12.0
uWSGI==2.0.18
pymongo==3.7.2
hpfeeds-threatstream==1.1
pygal==2.4.0
hpfeeds-logger==0.0.7.7
geoip2==2.9.0
pysqlite>=2.8.0
