Werkzeug==0.16.1
argparse==1.2.1
Flask==1.0
Flask-Login==0.3.2
Flask-Mail==0.9.1
Flask-Migrate==1.8.1
Flask-SQLAlchemy==2.3.2
Flask-Security==3.0.0
Flask-Testing==0.8.1
Flask-WTF==0.14.3
bcrypt==3.2.0
python-dateutil==2.8.1
celery==5.0.5
redis==3.5.3
requests==2.25.1
xmltodict==0.12.0
uWSGI==2.0.18
pymongo==3.7.2
hpfeeds-threatstream==1.1
pygal==2.4.0
hpfeeds-logger==0.0.7.7
geoip2==4.1.0
pysqlite>=2.8.0
email_validator==1.0.5
