{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom:30px;">
        <div class="small-4 large-centered columns">
            <h2>Add-Ons Settings</h2>
        </div>
    <div class="small-11 large-centered columns">
            <div class="panel callout radius">
                <h5><b>Add-On Settings.</b></h5>
                <p>Add-on Forms to show plugins deactivate and add new ones</p>
            </div>
        </div>
    </div>
{% endblock %}
