{% extends "base.html" %}
{% block title %}Settings{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom:30px;">
        <div class="small-4 large-centered columns">
            <h2>Add-Ons Settings</h2>
        </div>
    <div class="small-11 large-centered columns">
            <div class="panel callout radius">
                <h5><b>Add-On Settings.</b></h5>
                <p>Add-on Forms to show plugins deactivate and add new ones</p>
            </div>
        </div>
    </div>








    <div class="row">
        <div class="small-7 columns">
            <div class="row" style="margin-top:30px;">
                <div class="small-10 large-centered columns">
                    <h5>Upload Add-On</h5>
                </div>
            </div>
            <form id="addon-form" action="{{ url_for('ui.load_addons') }}" method="post" enctype="multipart/form-data">
                <input id="_csrf_token" name="_csrf_token" type="hidden" value="{{ csrf_token() }}">
                <div class="row">
                    <div class="small-10 large-centered columns">
                        <input id="menu_name-edit" name="menu_name" type="text" placeholder="Name of the Add-On (It shows in the Menu Add-Ons)" />
                    </div>
                </div>
                <div class="row">
                    <div class="small-10 large-centered columns">
                        <div class="small-4 columns">
                            <label for="dir_name-edit" class="right">Select Add-On:</label>
                        </div>
                        <div class="small-8 columns left">
                            <input id="dir_name-edit" name="dir_name" type="file" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="small-10 large-centered columns">
                        <input id="active-edit" name="active" type="checkbox"><label for="active-edit">Activate the Add-On</label>
                    </div>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        <div class="row">
                            {% for category, message in messages %}
                                <div class="small-10 large-centered columns">
                                    <div data-alert class="{{ category }}">
                                        {{ message  }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <div class="row">
                    <div class="small-10 large-centered columns">
                        <input id="submit-addon" class="tiny button right" type="submit" value="LOAD" />
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
