{% extends "base.html" %}
{% block content %}

<div class="row">

	<h1>Cowrie</h1>

	<div class="large-6 columns">

		<figure>
			<embed type="image/svg+xml" src="/image/top_cowrie_users.svg"/>

		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_cowrie_passwords.svg"/>
		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_cowrie_combos.svg"/>
		</figure>
	</div>
	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_cowrie_sessions.svg"/>
		</figure>
	</div>

<h1>Kippo</h1>

	<div class="large-6 columns">

		<figure>
			<embed type="image/svg+xml" src="/image/top_kippo_users.svg"/>

		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_kippo_passwords.svg"/>
		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_kippo_combos.svg"/>
		</figure>
	</div>
	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_kippo_sessions.svg"/>
		</figure>
	</div>
</div>
{% endblock %}
