{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="large-6 columns">

		<figure>
			<embed type="image/svg+xml" src="/image/top_users.svg"/>
		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_passwords.svg"/>
		</figure>
	</div>

	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_combos.svg"/>
		</figure>
	</div>
	<div class="large-6 columns">
		<figure>
			<embed type="image/svg+xml" src="/image/top_sessions.svg"/>
		</figure>
	</div>

</div>
{% endblock %}
