{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <div class="row">
        <div class="small-4 large-centered columns">
            <h2>Change Password</h2>
        </div>
    </div>
    <form id="pass-form" action="{{ url_for('auth.change_passwd', user_id=reset_user.id) }}" method="post">
        <input id="_csrf_token" name="_csrf_token" type="hidden" value="{{ csrf_token() }}">

        <div class="row">
            <div class="small-5 large-centered columns">
                <input id="email-edit" name="email" type="text" placeholder="Email" />
            </div>
        </div>
        <div class="row">
            <div class="small-5 large-centered columns">
                <input id="password-edit" name="password" type="password" placeholder="New Password" />
            </div>
        </div>
        <div class="row">
            <div class="small-5 large-centered columns">
                <input id="password-repeat-edit" name="password-repeat" type="password" placeholder="New Password Again" />
            </div>
        </div>
        <input id="hashstr-edit" type="hidden" value="{{ hashstr }}" />
        <div id="msg-container" class="row" style="display:none;">
            <div class="small-5 large-centered columns">
                <div id="alert-text" data-alert class="alert-box success round">
                    <div id="error-txt"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="small-5 large-centered columns">
                <input id="submit-pass" class="tiny button right" type="submit" value="CHANGE" />
            </div>
        </div>
    </form>
{% endblock %}
